* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid #000000;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.3, #4ec5c1),
      color-stop(0.6, #e5e338),
      color-stop(1, #ec576b));
  border-radius: 10px;
}

/*Fonts*/

.cousine-regular {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-normal {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
  font-size: 1.1em;
  color: #000000;
}

h1 {
  text-transform: capitalize;
  font-family: "DM Sans";
  font-weight: 800;
  font-size: 1rem;
  color: #000000;
}

#nav-header a {
  transition: opacity 0.3s ease-in-out;
}

/* Lower the opacity on hover */
#nav-header a:hover {
  color: #4ec5c1;
}

#nav-bar {
  width: 100%;
  position: fixed;
  padding: 1.7% 2% 1.8% 2%;
  border-bottom: 1px solid #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: stretch;
  height: 12vh;
  background-color: #ffffff;
  z-index: 2;
}

#nav-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: stretch;
}

#nav-elements {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-items: center;
  justify-items: center;
  gap: 2em;
  text-transform: uppercase;
  font-family: "DM Sans";
  font-weight: 1000;
  font-size: 0.8em;
  padding: 1%;
}

.Social-media {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  gap: 2em;
}

.Social-media a {
  display: grid;
  background: #ffffff;
  height: 1.8em;
  width: 1.8em;
  border-radius: 5%;
  place-items: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(37, 37, 37, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.362);
  transition: all 0.3s ease-in;
  position: relative;
  overflow: hidden;
}

.Social-media a i {
  font-size: 1.2em;
  color: #000000;
  transition: transform 0.3s ease-in-out;
}

.Social-media a:hover {
  box-shadow: inset 4px 4px 6px -2px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(36, 36, 36, 0.1);
  transform: translateY(2px);
}

.Social-media a:hover i {
  transform: scale(0.9);
  position: relative;
  z-index: 3;
}

.Social-media a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

.Social-media a:hover .filled {
  height: 100%;
}

a:hover .fa-behance {
  color: #ffffff;
}

a:hover .fa-linkedin {
  color: #ffffff;
}

#nav-elements a {
  color: #000000;
  text-decoration: none;
  margin: 1px;
  padding: 10px;
  position: relative;
  transition: color 0.3s ease-in;
}

#nav-elements a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

#nav-elements a:hover {
  color: #ec576b;
}

#nav-elements a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/*main*/

main {
  margin: 0 auto;
  padding: 5% 10%;
  border-top: 12vh solid #ffffff;
  width: 100%;
}

#about-me {
  margin: 0 auto;
  padding: 2% 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  justify-items: center;
  align-items: center;
}

#about-me article h2 {
  text-transform: capitalize;
  font-family: "DM Sans";
  font-weight: 1000;
  font-size: 5em;
  color: #4ec5c1;
}

#about-me article p {
  font-family: "Cousine";
  font-weight: 500;
  font-size: 1.2em;
  color: #000000;
  padding-bottom: 2em;
}

.about-me-picture {
  object-fit: contain;
  display: block;
  width: 35vw;
  background-image: radial-gradient(circle 140px at 180px 250px,
      rgba(236, 87, 107, 0.768032212885154) 0%,
      rgba(229, 227, 88, 0.4234943977591037) 80%,
      #ffffff00),
    radial-gradient(circle 120px at 360px 130px,
      rgba(236, 87, 107, 0.768032212885154) 0%,
      rgba(229, 227, 88, 0.4234943977591037) 80%,
      #ffffff00);
}

.about-me-picture img {
  width: 100%;
  display: block;
}

.me-button {
  background-color: white;
  border-radius: 10em;
  font-size: 1em;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  text-transform: uppercase;
  font-family: "DM Sans";
  font-weight: 600;
  color: #000000;
}

.me-button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  background-image: -webkit-gradient(linear,
      right bottom,
      left top,
      color-stop(0.3, #4ec5c1),
      color-stop(0.6, #e5e338),
      color-stop(1, #ec576b));
}

.me-button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

/*portfolio*/
#portfolio-start {
  font-family: "DM Sans";
  font-weight: 800;
  font-size: 0.8em;
  color: #000000;
  text-align: center;
  padding: 5% 0 0 0;
}

#portfolio-start h2 {
  text-transform: uppercase;
  font-family: "DM Sans";
  font-weight: 800;
  font-size: 1.3rem;
  color: #000000;
  text-align: center;
  padding: 10% 0 5% 0;
}

.portfolio-containers {
  margin: 0 auto;
  padding: 5% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*justify-items: center;*/
  align-items: center;
  justify-content: center;
}

.project {
  display: block;
  width: 25vw;
  /*height: 18vw;*/
  background-color: #ffffff;
  padding: 0%;
  border: 1px solid #000000;
  margin: 5% 2.5%;
  position: relative;
  transition: 0.5s ease-out;
}

.project-cells {
  display: block;
  margin: 5% 0;
}

.project img {
  width: 100%;
  object-fit: cover;
  cursor: crosshair;
  display: block;
  border-bottom: 1px solid #000000;
}

.project p {
  height: 3.5em;
}

.project p {
  text-transform: uppercase;
  font-family: "Cousine";
  font-weight: 800;
  font-size: 1.1em;
  padding: 2%;
  margin: 5%;
}

.project-button {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 1rem;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "DM Sans";
  font-weight: 600;
}

.project:hover {
  -webkit-box-shadow: 0px 0px 7px 4px #ec576b, 0px 0px 7px 11px #e5e338,
    0px 0px 7px 15px #4ec5c1, 0px 0px 7px 15px #4ec5c1;
  box-shadow: 0px 0px 7px 4px #ec576b, 0px 0px 7px 11px #e5e338,
    0px 0px 7px 15px #4ec5c1, 0px 0px 7px 15px #4ec5c1;
}

.project:hover .project-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.project-button:hover {
  color: #ffffff;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/*OVERLAY*/

.container_mouse {
  display: none;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Cousine";
  font-weight: 1000;
  font-size: 1em;
  letter-spacing: 0.5em;
  padding-top: 2rem;
  position: absolute;
  left: 26%;
  top: 40%;

}

.container_mouse .mouse-btn {
  margin: 10px auto;
  width: 40px;
  height: 70px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  display: grid;
  background-color: #00000073;
}

.container_mouse .mouse-btn .mouse-scroll {
  display: block;
  width: 20px;
  height: 20px;
  background-image: -webkit-gradient(linear,
      right bottom,
      left top,
      color-stop(0.2, #4ec5c1),
      color-stop(0.5, #e5e338),
      color-stop(1, #ec576b));
  border-radius: 50%;
  margin: auto;
  animation: scrolling 1s ease-in-out infinite;
}

@keyframes scrolling {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

.project-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  margin: 6vh 0;
}

.caption h3 {
  text-transform: uppercase;
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 1.2em;
  color: #ffffff;
  margin: 2%;
}

.caption p {
  font-family: "Cousine";
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  margin: 2%;
  line-height: 1.5em;
  padding: 0 10%;
}

.pictures-slider {
  width: 55vw;
  height: 70vh;
  margin: 0 5%;
  border: 1px solid #000000;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /*font-size: 0;*/
}

#overlay-5 .pictures-slider {
  overflow: hidden;
}

.pictures-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  display: block;
}

/*footer*/
footer p {
  text-align: center;
  font-family: "DM Sans";
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  font-weight: 700;
  color: #000000;
  border-top: 1px solid #000000;
  padding: 2% 0;
}

@media (max-width: 1024px) {
  .about-me-picture {
    background-image: radial-gradient(circle 90px at 120px 170px,
        rgba(236, 87, 107, 0.768032212885154) 0%,
        rgba(229, 227, 88, 0.4234943977591037) 80%,
        #ffffff00),
      radial-gradient(circle 80px at 240px 80px,
        rgba(236, 87, 107, 0.768032212885154) 0%,
        rgba(229, 227, 88, 0.4234943977591037) 80%,
        #ffffff00);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 66%;
  }

  .about-me-picture {
    background-image: radial-gradient(circle 70px at 120px 130px,
        rgba(236, 87, 107, 0.768032212885154) 0%,
        rgba(229, 227, 88, 0.4234943977591037) 80%,
        #ffffff00),
      radial-gradient(circle 60px at 180px 80px,
        rgba(236, 87, 107, 0.768032212885154) 0%,
        rgba(229, 227, 88, 0.4234943977591037) 80%,
        #ffffff00);
  }

  .pictures-slider {
    width: 55vw;
    height: 50vh;
    margin: 0 5%;
    border: 1px solid #000000;
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */

    /* For webkit browsers like Chrome and Safari */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    /*font-size: 0;*/
  }
}

@media (max-width: 426px) {
  #about-me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding: 3em 0;
  }

  .about-me-picture {
    width: 80vw;
    background-image: radial-gradient(circle 70px at 120px 130px,
        rgba(236, 87, 107, 0.768032212885154) 0%,
        rgba(229, 227, 88, 0.4234943977591037) 80%,
        #ffffff00),
      radial-gradient(circle 60px at 180px 80px,
        rgba(236, 87, 107, 0.768032212885154) 0%,
        rgba(229, 227, 88, 0.4234943977591037) 80%,
        #ffffff00);
  }

  #about-me article p {
    font-size: 1.3em;
    padding:  2em 1em 3em 1em;
  }

  .me-button {
    margin: auto;
    font-size: 1.2em;transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    background-image: -webkit-gradient(linear,
        right bottom,
        left top,
        color-stop(0.3, #4ec5c1),
        color-stop(0.6, #e5e338),
        color-stop(1, #ec576b));
  }

  .portfolio-containers {
    margin: 0 auto;
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .project {
    width: 80vw;
    margin: auto;
  }

  .project p {
    font-size: 1.4em;
  }

  .project-button {
    width: 50%;
    border-radius: 1.5rem;
    font-weight: 500;
    bottom: 0;
    opacity: 1;
    font-size: 1.5em;
    transform: translate(-50%, 50%);
    background-image: -webkit-gradient(linear,
        right bottom,
        left top,
        color-stop(0.3, #4ec5c1),
        color-stop(0.6, #e5e338),
        color-stop(1, #ec576b));
  }

  .project-overlay {
    grid-auto-flow: row;
    justify-items: center;
  }

  .container_mouse {
    left: 37%;
    top: 30%;
  
  }

  .pictures-slider {
    width: 85vw;
    height: 65vh;
    margin-bottom: 3em;
    
  }

  .pictures-slider img{
    object-fit:scale-down;
    height:auto;
  }

  footer p {
    font-size: 1rem;
    padding: 5% 5%;
    color: #ffffff;
    background-color: #000000;
  }

  a {
  text-decoration: none;
  font-size: 1.1em;
  color: #000000;
}

h1 {
  font-size: 1rem;
  width: 20vw;
}

#nav-elements {
  width: 100%;
  gap: 0.2em;
  font-size: 1em;
  padding: 0.2%;
}

#nav-elements a {
  margin: 1px;
  padding: 5px;
}
.Social-media {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  gap: 2em;
  padding-left: 2em;
}

.Social-media a {
  display: grid;
  background: #ffffff;
  height: 2em;
  width: 2em;
  border-radius: 5%;
  place-items: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(37, 37, 37, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.362);
  transition: all 0.3s ease-in;
  position: relative;
  overflow: hidden;
}

.Social-media a i {
  font-size: 1.4em;
}


}